<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Protected area
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    <h1>
      Hello {{ auth.user.fullName }}
    </h1>
    <p>
      You are logged in as {{ auth.user.email }}
    </p>
    <form action="{{ route('auth.logout') }}" method="post">
      {{ csrfField() }}
      <button type="submit">Logout</button>
    </form>
  </body>
</html>
